<h1>EUUC RE db</h1>

<p>Enter a family name.</p>
<p>Enter people.</p>
<p>Set up classes.</p>
<p>Associate teachers with classes.</p>
<p>Associate assistants with classes.</p>
<p>Associate children with classes.</p>
